{% extends 'base.html' %}


{% block content %}
<!-- Banner Section -->
<div class="position-relative">
    <img src="static/images/ban2.jpg" class="img-fluid w-100" alt="Banner">
    <div class="position-absolute top-50 start-50 translate-middle text-white text-center">
        <h1 style="color:black; font-size:75px; font-family: 'Barlow', sans-serif;">Introduction</h1>
        {#<p style="color:black; font-size:20px; font-family: 'Barlow', sans-serif;">NER based resume ranking system</p>#}
    </div>
</div>

<div class="jumbotron">
    <p style="color:black; font-size:20px; font-family: 'Barlow', sans-serif;">Welcome to the Introduction Page</p>
</div>
{% endblock %}
    