{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <img src="static/images/suitcase.png" height="50px" style="display: block; margin: auto;">
        <br>
        <h1 style="text-align:center;">Parsed Job Description Details</h1>
        <hr>
        <br>
        <table class="table table-hover table-striped">
            <thead>
                <tr class="table-light">
                    <th scope="col">Features</th>
                    <th scope="col">Values</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-light">
                    <td>Job Title</td>
                    <td>{{ job_title }}</td>
                </tr>
                <tr class="table-light">
                    <td>Required Skills</td>
                    <td>{{ job_skills }}</td>
                </tr>
                <tr class="table-light">
                    <td>Experience Needed</td>
                    <td>{{ job_experience }}</td>
                </tr>
                <tr class="table-light">
                    <td>Education Required</td>
                    <td>{{ job_education }}</td>
                </tr>
                <tr class="table-light">
                    <td>Preferred Languages</td>
                    <td>{{ job_language }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <a href="{{ url_for('parse_job') }}"><button type="button" class="btn btn-outline-dark btn-lg">Go Back</button></a>
    </div>
</div>
{% endblock %}
