{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <img src="{{ url_for('static', filename='images/google.png') }}" height="50px" style="display: block; margin: auto;">
        <br>
        <h1 style="text-align:center; color:black; font-size:30px; font-family: 'Barlow', sans-serif;">Login Page</h1>
        <hr>
        {% if current_user.is_authenticated %}
        <br>
        <h4 style="color:black; font-size:18px; font-family: 'Barlow', sans-serif;">Welcome, {{ current_user.name }}</h4>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <a href="{{ url_for('logout') }}"><button class="btn btn-dark btn-lg" style="text-align:center; color:white; font-size:15px; font-family: 'Barlow', sans-serif;">Logout</button></a>
        </div>
        {% else %}
        <br>
        <h4 style="color:black; font-size:18px; font-family: 'Barlow', sans-serif;">Click the button below to login with google:</h4>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <a href="{{ url_for('google_login') }}"><button class="btn btn-dark btn-lg" style="text-align:center; color:white; font-size:15px; font-family: 'Barlow', sans-serif;">Login with Google</button></a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
